body{
    overflow-x:hidden
    
}

.title-productos{
  text-align: center;
  font-family: 'Cinzel', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rock Salt', cursive;
    margin-top: 30px;
}
li {
    font-family: 'Cinzel', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rock Salt', cursive;

    display: inline-block;
    padding: 20px;
    color: #5CCC52;
    font-size: 22px;
}
.lista{
    text-align: center;
    
}
.navbar{
  margin: 10px;
}
.aMenu{
    color: #5CCC52;
    text-decoration: none;
}
.aMenu:hover{
    color: #5CCC52;
}
.aMenu-nav{
    color: #5CCC52;
    text-decoration: none;
}
.aMenu-nav:hover{
    color: #5CCC52;
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-link{
  color: #5CCC52;
  font-size: 20px;
}
.bg-light{
  background-color: white;
}
.h1Style{
    font-family: 'Cinzel', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rock Salt', cursive;
    margin-right: 20rem;
    color: #43BF45;
    text-shadow: 1px 1px 1px gray;

}
.colorNav{
    background-color: white;
}

.footer-logo {
  margin-bottom: 12px; }

.footer-logo--abstract {
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 10px; }

.footer-basic {
  margin-top: 50px;
  padding: 40px 0;
  background-color: #5CCC52;
  color: white; }


.footer-basic--marcas {
  margin-top: 9rem; }

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0; }

.footer-basic li {
  padding: 0 10px; }

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8; }

.footer-basic ul a:hover {
  opacity: 1; }

.footer-basic .social {
  text-align: center;
  padding-bottom: 5px; }

.footer-basic .social > a {
  font-size: 32px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75; }

.footer-basic .social > a:hover {
  opacity: 0.9; }

.footer-basic .copyright {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: white;
  margin-bottom: 0; }

  .container-fluid{
  padding: 0;
  bottom: 0;
  }

/*Nosotros parralax*/
.div-nosotros--h1 {
  color: white;
  display: flex;
  align-self: center;
  font-size: 48px;
  text-shadow: 2px 2px 5px #555;
  font-family: sans-serif; }

.div-nosotros--parallax {
  display: flex;
  justify-content: center;
  /* The image used */
  background-image: url("./imagenes/fondo.jpg");
  /* Set a specific height */
  height: 850.5px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box modeling */
  margin-bottom: 50px;
  margin-top: 0px; }

.div-abstract--aboutus, .div-abstract--aboutus2 {
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 20px; }

.div-abstract--aboutus2 {
  margin-top: 15px;
  margin-bottom: 0px; }

  /*Seccion Contacto*/
/*Margin card contacto*/
.div-card--contact {
  margin-left: 2rem; }

/*Estilo input's de card*/
.div-form--contact {
  width: 100%;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 0.25rem; }

/*Boton de card*/
.div-card--btn {
  margin-top: 0.25rem;
  border-color: #5CCC52;
  border-radius: 0.25rem;
  background-color: #69c261;
  color: white; }

/*Color iconos*/
.div-icons--color {
  color: #000000;
  font-size: 22px; }

.div-icons--color:hover {
  color: #5CCC52; 
}
.h1-responsive{
    font-family: 'Playfair Display', serif;
}
/*Formato img de contacto*/
.map-container-section {
  overflow: hidden;
  padding-bottom: 43%;
  position: relative;
  height: 0; }

.map-container-section img {
  left: 0;
  top: 0;
  height: 98%;
  width: 95%;
  position: absolute; }
  .md-form{
      text-align: center;
      align-content: center;
      align-items: center;
  }
  .mt-2{
      text-align: center;
  }
  .contactate{
      text-align: center;
  }
.card-body{
    background-color:#5ccc52c7;
}

/*metodo de pago icons*/
.img-icon{
    text-align: center;
    margin: 35px;
}
.txt{
    text-align: center;
    margin: 35px;
}

.h3txt{
    text-align: center;
}
/*Slider productos en inicio*/
.section-p--volando {
  font-size: 28px;
  text-align: center;
  padding-top: 4.5rem; 
  font-family: 'Rock Salt', cursive;
}

.section-volando--padding {
  padding: 2rem 1.2rem; }

.volando-carousel {
  background: white;
  margin-top: 2%; }

/*Slider productos direccion*/
.owl-dots {
  text-align: center;
  margin-top: 2%; }

.owl-dot {
  display: inline-block;
  height: 8px !important;
  width: 8px !important;
  background-color: #878787 !important;
  opacity: 0.8;
  border-radius: 30%;
  margin: 0 5px; }

.owl-dot.active {
  background-color: #000 !important; }

/*Cards productos*/
.containerxd {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }

.containerxd .cardd {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s; }

.containerxd .cardd:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); } 

.containerxd .cardd img {
  width: 330px;
  height: 220px; }

.containerxd .cardd h3 {
  font-weight: 600; }

.containerxd .cardd p {
  padding: 0 lrem;
  font-size: 16px;
  font-weight: 300; }

.containerxd .cardd a {
  font-weight: 500;
  text-decoration: none;
  color: #5CCC52; }

